ToFolder=C:/Temp
urlFile=C:/Temp/url.txt
faa_ai_prelim=https://www.asias.faa.gov/apex/f?p=100:93::FLOW_EXCEL_OUTPUT_R16070756597770675_en
https://www.asias.faa.gov/apex/f?p=100:12:::NO:::

http://av-info.faa.gov/dd_sublevel.asp?Folder=%5CAID
a1975_79.txt=http://av-info.faa.gov/data/AID/fix/a1975_79.txt
a1980_84.txt=http://av-info.faa.gov/data/AID/fix/a1980_84.txt
a1985_89.txt=http://av-info.faa.gov/data/AID/fix/a1985_89.txt
a1990_94.txt=http://av-info.faa.gov/data/AID/fix/a1990_94.txt
a1995_99.txt=http://av-info.faa.gov/data/AID/fix/a1995_99.txt
a2000_04.txt=http://av-info.faa.gov/data/AID/fix/a2000_04.txt
a2005_09.txt=http://av-info.faa.gov/data/AID/fix/a2005_09.txt
a2010_14.txt=http://av-info.faa.gov/data/AID/fix/a2010_14.txt
a2015_19.txt=http://av-info.faa.gov/data/AID/fix/a2015_19.txt
acrftser.txt=http://av-info.faa.gov/data/AID/fix/acrftser.txt


http://av-info.faa.gov/dd_sublevel.asp?Folder=%5CAIRAGNCY
http://av-info.faa.gov/dd_sublevel.asp?Folder=%5CAIROPERATORS
http://av-info.faa.gov/dd_sublevel.asp?Folder=%5CACREF
http://av-info.faa.gov/dd_sublevel.asp?Folder=%5CDESIGNEES
http://av-info.faa.gov/dd_sublevel.asp?Folder=%5CEIS
http://av-info.faa.gov/dd_sublevel.asp?Folder=%5CMECHANICSCHOOLS
http://av-info.faa.gov/dd_sublevel.asp?Folder=%5CPILOTSCHOOLS
http://av-info.faa.gov/dd_sublevel.asp?Folder=%5CREPAIRSTATIONS
http://av-info.faa.gov/dd_sublevel.asp?Folder=%5CREFERENCE
http://av-info.faa.gov/dd_sublevel.asp?Folder=%5CSDRS
http://av-info.faa.gov/dd_sublevel.asp?Folder=%5CSDRHISTORY
http://av-info.faa.gov/dd_sublevel.asp?Folder=%5CTRAININGCENTERS
https://www.ntsb.gov/investigations/AccidentReports/Pages/aviation.aspx
http://registry.faa.gov/database/ReleasableAircraft.zip
http://av-info.faa.gov/dd_sublevel.asp?Folder=%5CReference
http://registry.faa.gov/database/CS042018.zip
https://www.faa.gov/licenses_certificates/airmen_certification/releasable_airmen_download/
http://av-info.faa.gov/FOIA/default.aspx